@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
  font-family: "Roboto", sans-serif;
}


.wrapper {
  max-width: 1440px;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 44px 0;
}

.text-big {
  font-size: 39px;
  line-height: 46px;
  font-weight: bold;
}

.text-medium {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.search-input {
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  height: 40px;
  flex: 0.8;
  background: #FFFFFF url("assets/img/icons/home.svg") no-repeat left 11px center;
  padding-left: 35px;
}
.search-input2 {
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  height: 40px;
  width: 300px;
  background: #FFFFFF url("assets/img/icons/search.svg") no-repeat left 11px center;
  padding-left: 35px;
  margin-left: auto;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  border-radius: 2px;
}

.button-primary {
  background: #1890FF;
  border-radius: 2px;
  color: white;
}

.button-icon {
  margin-right: 6px;
  vertical-align: middle;
}

.button-text {
  vertical-align: middle;
}

.button-out {
  display: none;
  margin: 0 5px;
}

#cart-button {
  display: none;
  margin: 0 5px;
}

.promo {
  margin-top: 41px;
  height: 300px;
  width: 100%;
  filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
  background: #FFF1B8 url("assets/img/pomidor.png") no-repeat right;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.promo-text {
  margin-left: 71px;
  width: 50%;
}

.resto-select {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;

  .resto-select_top {
    display: flex;
    align-items: center;

    .card-info_bottom{
      padding-left: 30px;
      color: #8C8C8C;

      .card_info-star {
        margin-right: 26px
      }
      .card-info-ellipse{
        margin: 0 10px;
      }
    }
  }
  .resto-select_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 30px 24px;
    grid-template-areas:
            ". . ."
            ". . .";

    .resto_img {
      width: 100%;
    }

    .resto-card {
      border-radius: 7px 7px 0 0;
      background: #FFFFFF;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      text-decoration: none;
      color: black;

      .card-info {
        padding: 15px 24px 29px;

        button{
          background-color: #1890FF;
          color: white;
          margin-right: 32px;
        }

        .card-info_top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .card_info_time{
            background: #262626;
            border-radius: 2px;
            color: white;
            padding: 1px 8px;
          }
        }


        .card-info_bottom {
          display: flex;
          align-items: center;
          margin-top: 10px;
          color: #8C8C8C;

          .card_info-star{
            margin-right: 25px;
          }
          .card-info-ellipse{
            margin: 0 10px;
          }

          .category {
            text-overflow: ellipsis ;
          }
        }

        .restaurant-card {
          flex-direction: column;
          align-items: start;

          span:last-child{
            color: #8C8C8C;
            margin: 10px 0;
            width: 50%;
          }
        }
      }
    }

    .star_yellow {
      color: #FFC107;
      font-weight: bold;
      font-size: 18px;
      line-height: 32px;
    }

    .card-price {
      color: black;
      font-weight: bold;
    }
  }
}

.modal {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  .modal-dialog {
    max-width: 780px;
    width: 90%;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
  }
  .modal-top{
    display: flex;
    justify-content: space-between;

    .close-button {
      //transform: translateX(20px);
      cursor: pointer;
    }
  }
  .list-item{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: #8C8C8C 2px solid;


    .item-price-wrapper{
      display: flex;
      .item-price{
        margin-right: 45px;
        font-weight: bold;
        font-size: 20px;
      }
      .quantity {
        .number {
          padding: 0 13px;
        }
      }
      .amount {
        padding: 5px 16px;
        border: 1px solid #40A9FF;
        border-radius: 2px;
      }
    }
  }
  .modal-bottom{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

    .total-price {
      padding: 10px 20px;
      background-color: black;
      color: #FAFAFA;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.modal-auth {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 999;
  .modal-dialog {
    max-width: 780px;
    width: 95%;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
  }

  .modal-dialog-auth {
    width: auto;
    position: relative;
  }

  .label-auth {
    display: block;
    margin: 30px;
  }

  .label-auth span {
    width: 80px;
    display: inline-block;
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }

  .close {
    font-size: 36px;
    border: none;
    background-color: transparent;
  }

  .close-auth {
    font-size: 36px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .modal-body {
    margin-bottom: 22px;
  }
}

.is-open {
 display: flex;
}

.menu {
  .section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0 30px 0 0;
    color: #000000;
  }

  .cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;

  }

  .card-restaurant {
    cursor: pointer
  }

  .card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }


  .card-text {
    padding: 20px 23px 35px;
    min-height: 275px;
    display: flex;
    flex-direction: column;
  }



  .restaurants .card-text {
    min-height: auto;
  }

  .card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
  }

  .card-title-reg {
    font-weight: 400;
  }

  .card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
  }

  .card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .card-buttons {
    display: flex;
    margin-top: 24px;
    flex-grow: 1;
    align-items: flex-end;
  }

  .card-price-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
  }

  .rating {
    background-image: url("img/icon/rating.svg");
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 20px;
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
  }

  .price,
  .category {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
  }

  .price {
    margin-right: 10px;
  }

  .ingredients {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 21px;
  }

  .category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
  }

  .price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
  }
}

.section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.hide {
  display: none;
}


footer {
  background-color: white;

  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    .footer-left {
      display: flex;
      align-items: center;
      ul {
        list-style: none;
        display: flex;
        li{
          margin: 0 15px;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }

    .footer-right {
      display: flex;
      img:not(:last-child){
        margin-right: 21px;
      }
    }
  }
}


@media (max-width: 1440px) {
  .wrapper {
    max-width: 100% - 10%;
  }
}


@media (max-width: 768px) {

  .promo {
    background-position: 215px;
  }

  .resto-select {
    .resto-select_bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 30px 24px;
      grid-template-areas: ". . " ". . ";
    }
  }

  .menu .card {
    flex-basis: 49%;
  }

  footer .wrapper .footer-left ul {
    flex-wrap: wrap;
    li {
      margin: 5px 15px;
    }
    }
}

@media (max-width: 578px) {
  header {
    flex-wrap: wrap
  }
  .search-input {
    order: 5;
    margin-top: 15px;
    flex: 1;
  }
  .menu .card {
    flex-basis: 99%;
  }


  .promo-text {
    width: 100%;
  }
  footer .wrapper .footer-left ul {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .button-text {
    display: none;
  }
  .text-big {
    font-size: 28px;
  }

  .promo {
    .promo-text {
      margin-left: 15px;
    }
  }
  .resto-select .resto-select_top {

    flex-direction: column;
    .search-input2 {
      margin-bottom: 29px;
    }
  }
  .resto-select {
    .resto-select_bottom {
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr 1fr;
      gap: 30px 24px;
      grid-template-areas: ". " ". ";
    }
  }
  footer .wrapper .footer-left ul {
    padding: 0 10px;
  }
}

@media (max-width: 375px) {

  footer .wrapper {
    flex-direction: column;
    .footer-left {
      flex-direction: column;
      text-align: center;
    }
    .footer-right {
      justify-content: center;
    }
  }
}